/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.Title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #467fbf;
  padding-top: 8px;
  font-size: 2em; 
}