  
{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
  <div class="carousel carousel-slider center" id="home-carousel" style="min-height: 880px;">
    <div class="carousel-fixed-item center">
    </div>
    {{ range sort .Site.Data.carousel "weight" }}
    <div class="carousel-item bg-carousel white-text" href="#one!">
  
      <div class="container">
        <div class="row">
          <div class="col s12"><h2>{{ .title }}</h2></div>
          <div class="col offset-m2 m4 s12">{{ .description | safeHTML }}</div>
          <div class="col m4 s12"><img class="img-responsive" src="{{ .image }}" alt=""></div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
{{ end }} 