{{ if isset .Site.Params "faq" }}
{{ if .Site.Params.faq.enable }}
{{ if gt (len .Site.Data.faq) 0 }}
<section id="FAQ" class="bar background-white">
    <div class="container">
        <div class="heading text-center">
            <h2>{{ .Site.Params.faq.title | markdownify }}</h2>
        </div>
        <div class="row">
            {{ range $index, $element := sort .Site.Data.faq "weight" }}
            <div class="col s12 m6">
                <div class=" card">

                    <div class="card-content ">
                        <span  class="card-title">{{ $element.question | markdownify }}</span >
                    </div>   

                    <div class="card-action">
                        <p>{{ $element.answer | markdownify }}</p>
                    </div>

                </div>                        
            </div>
        {{ end }}
    </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
