{{ if isset .Site.Params "morefaq" }}
{{ if .Site.Params.faq.enable }}
{{ if gt (len .Site.Data.morefaq) 0 }}
<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <ul class="collapsible">
                {{ range $index, $element := sort .Site.Data.morefaq "weight" }}
                <li>
                    <div class="collapsible-header">{{ $element.question | markdownify }}</div>
                    <div class="collapsible-body">{{ $element.answer | markdownify }}</div>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}